<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CASWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CASWin.Properties.Settings>
            <setting name="astserver" serializeAs="String">
                <value>192.168.10.139</value>
            </setting>
            <setting name="astuser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="astpass" serializeAs="String">
                <value>****</value>
            </setting>
            <setting name="source" serializeAs="String">
                <value>/var/spool/asterisk/monitor</value>
            </setting>
            <setting name="destin" serializeAs="String">
                <value>c:/sesler</value>
            </setting>
            <setting name="SQLConnectionString" serializeAs="String">
                <value>Data Source=.\SQLEXPRESS; Initial Catalog=catalog; Persist Security Info=True; User ID=sa;Password=***</value>
            </setting>
            <setting name="MySQLConString" serializeAs="String">
                <value>Driver={MySQL ODBC 5.1 Driver};Server=192.168.10.139;Database=asteriskcdrdb; User=root;Password=***;Option=3;</value>
            </setting>
            <setting name="TmrClose" serializeAs="String">
                <value>14000</value>
            </setting>
        </CASWin.Properties.Settings>
    </applicationSettings>
</configuration>